<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
     <title>About Page2</title>
  </head>
  <body>
     {{> header}}
     <p>Welcome {{screamIt user}}</p>

    {{> footer}}
  </body>
</html>
