<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
     <title>Project Portfolio Page</title>
  </head>
  <body>
     {{> header}}
     <p>Welcome to the project portfolio page {{screamIt user}}</p>

    {{> footer}}
  </body>
</html>
